/* Base Layout */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
}

/* Add Task Form */

/* Main Container */
.tasks-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-width: 0;
}

/* Task Columns */

.container {
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow: hidden;
}

.column {
  display: flex;
  flex-grow: 1;
  min-height: 0;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding: 10px;
}

/* Task Items */
.task-item {
  display: flex;
}

.task-title {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.task-title:hover {
  white-space: normal;
  overflow-wrap: anywhere;
}

.finish > .task-title {
  text-decoration: line-through;
  color: green;
}

/* Media Queries */
