body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tasks-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tasks-container > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-item {
  display: flex;
}

.task-title {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.task-title:hover {
  word-break: x;
  text-overflow: normal;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.finish > .task-title {
  text-decoration: line-through;
  color: green;
}
