body {
  height: 98vh;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  overflow: hidden;
  background: var(--bg-color);
  accent-color: var(--base-color);
  color: var(--text-color);
  font-family: "Trebuchet MS", sans-serif;
}

.app-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1.25rem;
}

.title {
  font-size: 3.125rem;
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

/* Main Grid Layout */
.tasks-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 0;
  gap: 1.25rem;
}

.column {
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow: hidden;
  min-height: 0;
  border-radius: 0.4rem;
  padding: 0.625rem;
  background-color: var(--clmn-color);
}

.column-header {
  margin: auto;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--border-color);
}

.container {
  display: flex;
  min-height: 0;
  flex-direction: column;
  gap: 0.625rem;
  overflow-y: auto;
  padding: 0.625rem;
}
