/* Global Layout & Typography */

/* Base Setup */
body {
  height: 98vh;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  overflow: hidden;
  background: var(--bg-color);
  accent-color: var(--base-color);
  color: var(--text-color);
  font-family: system-ui, sans-serif;
  box-sizing: border-box;
}

/* Header Section */
.app-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
}

.title {
  font-size: 1.75rem;
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
