/* Variables & Theme Configuration */

:root {
  /* Main Color Palette */
  --bg-color: #0d0e10;
  --base-color: #10b981;
  --base-hover: #059669;
  --clmn-color: #161718;
  --text-color: #ffffff;
  --border-color: #2e2e2e;

  /* Task Priorities */
  --priority-must: #ff0000;
  --priority-should: #ffff00;
  --priority-could: #00ff00;

  color-scheme: dark;
}
