/* Variables & Theme Configuration */

:root {
  /* Main Color Palette */
  --bg-color: #0d0e10;
  --base-color: #3b82f6;
  --base-hover: #2563eb;
  --clmn-color: #141516;
  --text-color: #ffffff;
  --border-color: #2e2e2e;

  /* Task Priorities */
  --priority-must: #ef4444;
  --priority-should: #eab308;
  --priority-could: #22c55e;

  color-scheme: dark;
}
